body {
    --color-primary: #ffffff;
    --color-primary-dark: #29579c;
    --color-secondary: #252c6a;
    --border-radius: 4px;

    margin: 0;
    height: 100vh;
    width: 100vw;
    max-width: 100%;
    font-size: 18px;
    background-color: var(--color-primary-dark);
}

.header {
    background: var(--color-primary-dark);
    opacity: 0.9;
}

.header-container {
    max-width: 1900px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.icon {
    width: 25px;
    height: 25px;
    color: var(--color-primary);
    cursor: pointer;
}

.my-car, .check-status {
    font: 500 1.5rem 'Quicksand', sans-serif;
    width: fit-content;
    text-align: center;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    background-color: transparent;
    color: var(--color-primary);
}

.main {
    max-width: 1900px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.my-car-img {
    width: 100%;
    height: auto;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.icons-options {
    width: 96.5%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding: 5px;
    border: 2px solid var(--color-secondary);
    border-radius: 5px;
    background-color: #eeeeee;
}

.vehicle-info {
    font: 500 1.5rem 'Quicksand', sans-serif;
    color: var(--color-primary);
}

.vehicle-info-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin: auto;
    padding: auto;
}

.vehicle-info-wrapper p {
    color: var(--color-primary);
    font: 500 1.3rem 'Quicksand', sans-serif;
    padding: 5px;
}
.model-wrapper, .vin-wrapper, .mileage-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
    border-bottom: 2px solid var(--color-secondary);
}

.link-button {
    text-decoration: none;
    color: var(--color-primary);
}

.notification {
    visibility: hidden;
}

.check-status {
    width: 100%;
}

.wrapper {
    width: 100%;
    align-items: center;
}

@media only screen and (min-width: 600px) {
    .main {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        top: 50%;
        transform: translate(0, 20%);
    }

    .my-car-img {
        width: 50%;
        height: 430px;
        border-radius: 5px;
        margin: 0px 5px;
    }

    .wrapper {
        display: flex;
        flex-direction: column;
    }
}